* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: #e60dbd;
  background: linear-gradient(to top right, #32ffd2, #ffee32);
}

.title {
  font: 36px Arial;
  letter-spacing: 0.1em;
  padding: 10px 5px;
  color: rgba(256, 256, 256, 0.8);
}
@media only screen and (min-width: 768px) {
  .title {
    font: 48px Arial;
  }
}

.clock {
  width: 200px;
  height: 200px;
  border: solid 10px #e214ca;
  border-radius: 50%;
  position: relative;
  background: /*rgba(256, 256, 256, 0.25);*/
  cursor: pointer;
  margin: auto;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .clock {
    width: 300px;
    height: 300px;
    border: solid 15px #e214ca;
  }
}

.dot {
  background: red;
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  display: none;
}

.spire {
  position: absolute;
}

.hour {
  top: calc(50% - 37.5px);
  left: calc(50% - 2.5px);
  width: 5px;
  height: 40px;
  border-radius: 0 0 5px 5px;
  background: #26078d;
  z-index: 4;
  -webkit-transform-origin: 2.5px 37.5px;
          transform-origin: 2.5px 37.5px;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .hour {
    top: calc(50% - 57.5px);
    left: calc(50% - 2.5px);
    width: 5px;
    height: 60px;
    -webkit-transform-origin: 2.5px 57.5px;
            transform-origin: 2.5px 57.5px;
  }
}

.min {
  top: calc(50% - 67.5px);
  left: calc(50% - 2.5px);
  width: 5px;
  height: 70px;
  border-radius: 0 0 5px 5px;
  background:  rgba(203,66,244);
  z-index: 3;
  -webkit-transform-origin: 2.5px 67.5px;
          transform-origin: 2.5px 67.5px;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .min {
    top: calc(50% - 102.5px);
    left: calc(50% - 2.5px);
    width: 5px;
    height: 105px;
    -webkit-transform-origin: 2.5px 102.5px;
            transform-origin: 2.5px 102.5px;
  }
}

.sec {
  top: calc(50% - 78.75px);
  left: calc(50% - 1.25px);
  width: 2.5px;
  height: 80px;
  border-radius: 0 0 2.5px 2.5px;
  background: rgba(231, 76, 60, 1);
  z-index: 2;
  -webkit-transform-origin: 1.25px 78.75px;
          transform-origin: 1.25px 78.75px;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .sec {
    top: calc(50% - 118.75px);
    left: calc(50% - 1.25px);
    width: 2.5px;
    height: 120px;
    -webkit-transform-origin: 1.25px 118.75px;
            transform-origin: 1.25px 118.75px;
  }
}

.digit {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  font: 42px/200px Arial;
  color: rgba(32, 32, 32, 0.6);
  display: none;
  z-index: -10;
}
@media only screen and (min-width: 768px) and (min-height: 540px) {
  .digit {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    font: 58px/300px Arial;
  }
}
.clock:hover > .digit {
  display: block;
}

footer {
  font: 14px Arial;
  color: rgba(256, 256, 256, 0.8);
  width: 100vw;
  padding: 5px;
}
footer a {
  color: rgba(51, 51, 51, 0.85);
  text-decoration: none;
}
footer a:hover {
  color: rgba(256, 256, 256, 0.8);
  text-decoration: underline;
}
